name: Regression

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux_os:
    name: ${{ matrix.os }} (${{ matrix.browser }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        browser: [chrome, edge, firefox]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    steps:
      - name: Checkout ${{ github.repository }} repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Edge browser
        if: matrix.browser == 'edge'
        run: |
          curl -L https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
          sudo install -o root -g root -m 644 microsoft.gpg /etc/apt/trusted.gpg.d/
          sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/edge stable main" > /etc/apt/sources.list.d/microsoft-edge-beta.list'
          sudo rm microsoft.gpg
          sudo apt-get -qq update
          sudo apt-get -qq install -o=Dpkg::Use-Pty=0 microsoft-edge-beta
          sudo apt-get -yq autoremove

      - name: Install Firefox browser
        if: matrix.browser == 'firefox'
        run: |
          wget -qO ~/Firefox.tar.bz2 "https://download.mozilla.org/?product=firefox-latest&os=linux64"
          sudo tar xvf ~/Firefox.tar.bz2 -C /opt/
          sudo ln -svf /opt/firefox/firefox /usr/bin/

      - name: Install dependencies
        run: yarn install --immutable
        env:
          DEBUG: pw:install

      - name: Run Cypress tests
        run: yarn cy:run --headless -b ${{ matrix.browser }}

  mac_os:
    name: ${{ matrix.os }} (${{ matrix.browser }})
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15]
        browser: [chrome, edge, firefox]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    steps:
      - name: Checkout ${{ github.repository }} repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Edge browser
        if: matrix.browser == 'edge'
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          brew install --cask microsoft-edge
          brew autoremove && brew cleanup

      - name: Install Firefox browser
        if: matrix.browser == 'firefox'
        run: |
          curl -Lo ~/Firefox.dmg "https://download.mozilla.org/?product=firefox-latest&os=osx"
          hdiutil attach ~/Firefox.dmg -nobrowse -quiet
          cp -R /Volumes/Firefox/Firefox.app /Applications/
          hdiutil detach /Volumes/Firefox -quiet
          rm -Rf ~/Firefox.dmg

      - name: Install dependencies
        run: yarn install --immutable
        env:
          DEBUG: pw:install

      - name: Run Cypress tests
        run: yarn cy:run --headless -b ${{ matrix.browser }}

  windows_os:
    name: ${{ matrix.os }} (${{ matrix.browser }})
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025]
        browser: [chrome, edge, firefox]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60

    steps:
      - name: Checkout ${{ github.repository }} repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: yarn install --immutable
        env:
          DEBUG: pw:install

      - name: Run Cypress tests
        run: yarn cy:run --headless -b ${{ matrix.browser }}
        shell: bash
